!!! 5
html
  head
    title Chatroom
    link(rel='stylesheet', href='{{ static_url(\'css/index.css\') }}')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33304637-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(src='/static/js/libs/require.js', data-main='/static/js/index.js')

body
  #main

    #panel
      .head Chatroom
        span.deco_left
        span.deco_right
        .deco_underline

      .status
        .brand Status
        .content.info

      .title.folded.sec0.loginTitle.green
        span.text Login
        span.arrow

      .login
        .inputWrapper
          input(type='text', name='username', placeholder='username')
          //- img.tip(src='{{ static_url(\'img/lock.png\') }}')
          a.tip
          input(type='password', name='password', placeholder='password', style='display: none;')
          a.cancel(style='display: none;') x
        ul.colors
          li
            a(color='#3A3A3A')
            span.cursor
          li
            a(color='#B00B0B')
          li
            a(color='#B0770B')
          li
            a(color='#0BB038')
          li
            a(color='#0B77B0')
          li
            a(color='#5B0BB0')
          li
            a(color='#B00B69')
        //- .submitWrapper
        //-   input(type='submit', value='Sign&Log In').green-gradient-button

      .userinfo(style='display: none;')
        p Username
          b.username
        p Actions
          a(href='#').logout logout

      .title.folded.sec1
        span.text Roominfo
        span.arrow

      .roominfo
        p Online users
          b.number
        .users(style='display: none;')
          //- .item(username='reorx') R

      .mouseWrapper
        .title.folded.sec2
          span.text About
          span.arrow

        .about
          .p Source
            a(href='https://github.com/Reorx/chatroom') github
          .p.pb(style='display: none;') Powered by
            ul
              li
                a(href='http://tornadoweb.org/') Tornado
              li
                a(href='http://www.mongodb.org/') MongoDB
              li
                a(href='https://github.com/visionmedia/jade') Jade
              li
                a(href='http://learnboost.github.com/stylus/') Stylus
              li
                a(href='http://backbonejs.org/') Backbone
                span.and &
                a(href='http://underscorejs.org/') Underscore
              li
                a(href='http://jquery.com/') jQuery
              li
                a(href='http://docs.fabfile.org/en/1.4.3/index.html') Fabric

    #chat
      .ruler
      .chats.prettyscrollbar
        .body
          //- .dialog
          //-   .username Reorx
          //-   .contents
          //-     .content
          //-       .text Hello everybody, welcome to Chatroom ~~
          //-       .datetime 22:41
      .input
        textarea#messageInput(readonly='readonly')

  #tmpl-dialog.tmpl
    .dialog
      .username_bg(style='background-color: ${color};')
      .username(style='color: ${color};') ${username}
      .messages
  #tmpl-dialog-separate.tmpl
    .dialog.separate
      .username_bg
      .username
      .messages
        .item
          .text ${content}
          .datetime
  #tmpl-message.tmpl
    .item
      .text ${content}
      .datetime ${hourtime}
